{{#each cartProducts}}
<p>{{this.image}}</p>
<p>{{this.name}}</p>
<p>{{this.price}}</p>
{{/each}}

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
        <a href="/checkout"><button class="btn btn-primary" type="submit">Checkout Now</button>
        </a>
    </div>
</div>