{{> page-heading pageTitle="Welcome to Miami" image="miami3.jpg"}}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi error atque veritatis, consequuntur exercitationem necessitatibus beatae. Expedita impedit officiis quis eum. Maxime eveniet impedit praesentium aspernatur, minima ut facilis sequi!</p>